
<!-- This is the body of the search element. 
     It can be included with a partial if you want to customise the search page. -->
<div class="search">
    <header>
        <h1>{{ .Title }}</h1>
        {{/* partial "debugprint.html" (site.GetPage "/search") */}}
    </header>

    <form action="{{ .Permalink }}">
        <input id="search-query" name="q" />
    </form>
    <hr />

    {{ partial "htmlmin-ignore-comment" . }}
    <div id="search-results"></div>
    {{ partial "htmlmin-ignore-comment" . }}
</div>

<template id="search-result-template">
    <div class="search_summary">
        <h2 class="post-title no-text-decoration">
            {{ partial "htmlmin-ignore-comment" . }}
            <a class="search_link search_title" href=""></a>
            {{ partial "htmlmin-ignore-comment" . }}
        </h2>
        <p>
            {{ partial "htmlmin-ignore-comment" . }}
            <em class="search_snippet"></em>
            {{ partial "htmlmin-ignore-comment" . }}
        </p>
        <small>
            <table>
                <tr class="search_iftags">
                    <td><strong>Tags</strong></td>
                    {{ partial "htmlmin-ignore-comment" . }}
                    <td class="search_tags"></td>
                    {{ partial "htmlmin-ignore-comment" . }}
                </tr>
                <tr class="search_ifcategories">
                    <td><strong>Categories</strong></td>
                    {{ partial "htmlmin-ignore-comment" . }}
                    <td class="search_categories"></td>
                    {{ partial "htmlmin-ignore-comment" . }}
                </tr>
            </table>
        </small>
    </div>
</template>