{{ define "main" }}         <!-- Page containing posts of a particular category -->

<section id="main">
    <div>
        <h2>Posts in &ldquo;{{ .Title }}&rdquo;</h2>
        {{ range .Data.Pages }}
        {{ .Render "summary"}}  <!-- Use layouts/_default/summary.html -->
        {{ end }}
        <h2><a href="/categories">Full Category Index&nbsp;&rarr;</a></h2>
        <span class="all-categories no-color-links">
            <a href="/categories">Full Category Index<span>&nbsp;&rarr;</span></a>
        </span>
    </div>
</section>

{{ end }}
